@media screen and (max-width:400px) {
    .nav-section {
        flex-direction: column;
        min-width: max-content;


    }

    .nav-head {
        flex-direction: row;
        padding-top: 15rem;
        padding-left: 13rem;

    }

    .nav {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .nav-style {
        margin-top: 0.5rem;
        text-align: center;
    }

    .nav-para {
        text-align: center;
        font-family: Work Sans;
        font-size: rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: rem;
        padding-right: 13rem;

    }

    /* second section */
    .second-section {
        flex-direction: column-reverse;
        padding-top: 14rem;
        padding-left: 12rem;
    }

    .second-section-image {
        margin-left: 6rem;
    }

    .second-section-img-style {
        width: 35.4375rem;
        height: 27.875rem;
        flex-shrink: 0;
    }

    .second-section-info {
        text-align: left;
        padding-top: 10rem;
        fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);


    }

    .second-section-button {
        display: flex;
    }

    .go {
        padding: 0.999rem;
    }

    .download {
        padding: 0.9rem;
    }

    .goat {
        padding-bottom: 0.7rem;
    }

    /* third section */
    .third-section {
        flex-direction: column;
        width: fit-content;


    }

    .third-img {
        max-width: 100%;
        padding-right: 8rem;
    }

    .ganner,
    .pur,
    .unplash {
        text-align: center;
    }

    .third-section-btn {
        margin-right: 15rem;
    }

    /*forth section */
    .omg {
        width: 35rem;
        height: 30rem;
    }

    .forth-first-img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 1rem;
        gap: 2rem;
        padding-left: 4rem;

    }

    .image-bap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding-top: 1rem;
    }

    .mine {
        padding-left: 2rem;
    }

    .kine {
        padding-right: 3.5rem;
    }

    .pine {
        margin-right: 4rem;
    }

    .forth-info {
        margin-bottom: 1rem;
    }

    .forth {
        width: fit-content;


    }

    .forth-p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;


    }

    .forth-section-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /*five section */
    .fifth-section {
        flex-direction: column;
        min-height: 40vh;
        padding-left: 23rem;



    }

    .fifth-section-info {
        padding-bottom: 2rem;
    }

    /* sixth section */
    .grid{
  display: grid;
  padding-left: 1rem;   
            
    }
}



























@media screen and (min-width:401px) and (max-width:576px) {
    .nav-section {
        flex-direction: column;
        min-width: max-content;


    }

    .nav-head {
        flex-direction: row;
        padding-top: 12rem;
        padding-left: 12rem;

    }

    .nav {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .nav-style {
        margin-top: 0.5rem;
        text-align: center;
    }

    .nav-style>p,
    img {}

    .nav-img-one {}

    .nav-para {
        text-align: center;
        font-family: Work Sans;
        font-size: rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: rem;
        padding-right: 13rem;

    }

    /* second section */
    .second-section {
        flex-direction: column-reverse;
        padding-top: 14rem;
        padding-left: 12rem;
        min-height: 40vvh;
        max-width: auto;
    }

    .second-section-image {
        margin-left: 6rem;
    }

    .second-section-img-style {
        width: 35.4375rem;
        height: 27.875rem;
        flex-shrink: 0;
    }

    .second-section-info {
        text-align: left;
        padding-top: 10rem;
        fill: linear-gradient(223deg, rgba(203, 238, 87, 0.765) 0%, rgba(68, 149, 241, 0.703) 100%);


    }

    .second-section-button {
        display: flex;
    }

    .go {
        padding: 0.999rem;
    }

    .download {
        padding: 0.9rem;
    }

    .goat {
        padding-bottom: 0.7rem;
    }

    /* third section */
    .third-section {
        flex-direction: column;
        width: fit-content;


    }

    .third-img {
        max-width: 100%;
        padding-right: 8rem;
    }

    .ganner,
    .pur,
    .unplash {
        text-align: center;
    }

    .third-section-btn {
        margin-right: 15rem;
    }

    /*forth section */
    .omg {
        width: 35rem;
        height: 30rem;
    }

    .forth-first-img {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 1rem;
        gap: 2rem;
        padding-left: 4rem;

    }

    .image-bap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding-top: 1rem;
    }

    .mine {
        padding-left: 2rem;
    }

    .kine {
        padding-right: 3.5rem;
    }

    .pine {
        margin-right: 4rem;
    }

    .forth-info {
        margin-bottom: 1rem;
    }

    .forth {
        width: fit-content;


    }

    .forth-p {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;


    }

    .forth-section-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mon {
        padding-left: 4rem;
    }

    /*five section */
    .fifth-section {
        flex-direction: column;
        width: auto;
        min-height: 40vh;
        padding-left: 23rem;

    }

    .fifth-section-info {
        padding-bottom: 2rem;
    }
    /*sixth section */
    .grid{
        display: grid;
        padding-left: 1rem;   
                  
          }
}