@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: auto;
    height: 8.125rem;
    flex-shrink: 0;
    background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

li {
    list-style: none;
    margin-right: 1.5rem;
}

.nav-head {
    display: flex;

}

.nav {
    display: flex;
    margin-top: 1.4rem;
}

.nav-style {
    display: flex;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.nav-style>p,
img {
    margin-right: 1rem;
}

.nav-img-one {
    width: 5.37756rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin-top: 0.5rem;
}

.nav-para {
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.span-one {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav>li {
    margin-top: 0.9rem;
}

/* second section*/
.second-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: auto;
    background: #FFF;
}

.second-section-img-style {
    width: 42.4375rem;
    height: 27.875rem;
    flex-shrink: 0;
}

.play {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.goat {
    text-align: center;
    font-family: Work Sans;
    font-size: 5.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.click,
.no,
.of {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.download {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 1rem;
    border: none;
    gap: 2rem;
}

.go {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1rem;
    border: none;
    margin-left: 1rem;
}

.second-section-button {
    padding-top: 1.5rem;
}

.second-section-info {
    padding-bottom: 1rem;
}
/*third section */
.third-img-style{
    width: 35rem;
    height: 25rem;
}
.third-section{
display: flex;
align-items: center;
justify-content: space-evenly;
}
.third-section-info{
    text-align: right;
}
.ganner{
text-align: right;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 1rem;
}
.digital{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}
.third-section-btn{
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3rem;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 1rem;
margin-top: 1rem;
}
.pur{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 2.8125rem; /* 187.5% */
}
.unplash{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 2.8125rem;
}
.third-section-info{
    margin-right: 3rem;
}

/* forth section */
.omg{
    width: 14rem;
    height: 14rem;
}
.forth-first-img{
 flex-direction: column;
 text-align: center;
 

}
.image-bap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding-top: 1rem;
}
.mine{
  padding-left: 8rem;
}

.kine{
    padding-right: 3.5rem;
}
.pine{
    margin-right: 9.5rem;
}
.forth-info{
    text-align: center;
    margin-bottom: 1rem;
    
}
.forth-p{
    color: #0B0223;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.fun{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.forth-second{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
}
.forth{
    padding-top: 3rem;
}

/*five section */
.hero-img{
    width: 20rem;
    height: 20rem;
}
.alternate{
    width: 10rem;
    height: 10rem;
}
.fifth-img{
  position: relative;
}
.child {
    position:absolute;
    top :14rem;
    right:14rem;
}
.fifth-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 4rem;
}
.play{
    text-align: justify;
font-family: Work Sans;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: 3.75rem; /* 125% */
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.down{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.75rem;
    text-align: right;
}
.free{
    color: #534C64;
text-align: left;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 166.667% */
padding-top: 1rem;
}

/*  sixth section */
.sixth-section{
    padding-top: 6rem;
    min-height: 40vh;
}
.sixth-first-section{
 margin-top: 3rem;
}
.sixth-first-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  
}
.sixth-second{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sixth-first-section>.one{
    margin-right: 2rem;
}
.sixth-second>.two{
    margin-right: 2rem;
}

.sixth-first-section >.one:hover{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

/*last */
.last-section{
    background-color: #0B0223; ;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}
.class{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 2rem;
padding-right: 5rem;
}
.last-two{
    display: flex;
}
.bangla{
    color: #FFF;
font-family: Work Sans;
font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.last-image{
padding-left: 5rem;
}


